:root {
    /* Primary */

    --clr-primary-very-dark-blue:        hsl(233, 47%, 7%); /* (main background) */
    --clr-primary-dark-desaturated-blue: hsl(244, 38%, 16%); /* (card background) */
    --clr-primary-soft-violet:           hsl(277, 64%, 61%); /* (accent) */

    /* Neutral */

    --clr-white:                        hsl(0, 0%, 100%); /* (main heading, stats) */
    --clr-slightly-transparent-white-p: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
    --clr-slightly-transparent-white-s: hsla(0, 0%, 100%, 0.6); /* (stat headings) */

    /* fonts */

    --ff-inter: 'Inter', sans-serif;
    --ff-lexend-deca: 'Lexend Deca', sans-serif;
}

/* Reset css */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* General styling */

body {
    background-color: var(--clr-primary-very-dark-blue);
    color: var(--clr-white);
    font-size: 15px;
    min-height: 100vh;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--clr-primary-dark-desaturated-blue);
    max-width: 900px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.informations {
    padding: 3.8rem;
}

.informations h1 {
    font-family: var(--ff-inter);
    margin: 1.3rem 0 2rem 0;
}

.informations .description {
    color: var(--clr-slightly-transparent-white-p);
    font-family: var(--ff-lexend-deca);
    width: auto;
    margin-right: 1.5rem;
    margin-bottom: 4.5rem;
}

.informations span {
    color: var(--clr-primary-soft-violet);
}

.stats {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-right: 1.5rem;
    text-transform: uppercase;
}

.stats .stat {
    font-size: 1.4rem;
    font-family: var(--ff-inter);
    font-weight: 700;
}

.stats .type {
    color: var(--clr-slightly-transparent-white-s);
    font-size: 0.7rem;
    font-family: var(--ff-lexend-deca);
}

.image {
    min-width: 50%;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
}

.bg-image {
    background-color: var(--clr-primary-soft-violet);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.45;
}

@media only screen and (max-width: 900px) {
   .card {
    flex-wrap: wrap-reverse;
   }

   .informations {
    padding: 2rem;
    text-align: center;
   }

   .informations h1 {
    margin: 0 0 1.5rem 0;
   }

   .informations .description {
    margin: 0 0 2rem 0;
   }

   .stats {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-right: 0;
   }

   .image {
     min-width: 100%;
    }
}

/*
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
*/